<div class="col-6 container border border-2 rounded mt-5 p-5 pt-3 pb-3">
  <div class="d-flex justify-content-center">
    <h2 class="row-12 mt-2">Desambiguar</h2>
  </div>
  <form class="m-2" [formGroup]="formDesambiguar">
    <div>
      <div class="row d-flex justify-content-evenly mb-4">
        <div class="col">
          <div class="input-group">
            <label for="method" class="input-group-text">Método</label>
            <select id="method" class="form-select input-group"  formControlName="metodo">
              <option value="father" selected>FatherDisambiguation</option>
              <option value="first-synset">FirstSynsetDisambiguation</option>
              <option value="path">PathDisambiguation</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="textoDesambiguar"></textarea>
        <label for="floatingTextarea">Texto a desambiguar (inglés)</label>
      </div>
      <div class="mt-1" *ngIf="formDesambiguar.get('textoDesambiguar')?.invalid && formDesambiguar.get('textoDesambiguar')?.touched">
        <div class="text-danger mb-3 text-center"> {{mensajesError.textoDesambiguar[0].mensaje}}.</div>
      </div>
    </div>
  </form>
  <div class="d-grid gap-2 mt-3 mb-3">
    <button class="btn btn-primary" type="button" (click)="desambiguar()">Desambiguar
      <span *ngIf="procesandoDesambiguacion" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
    </button>
    <div class="row m-0" *ngIf="exception">
      <div class="text-danger text-center mb-3"> Error en la petición, revise la lógica de la operación.</div>
    </div>
    <div class="row m-0" *ngIf="formIncompleto">
      <div class="text-danger text-center mb-3"> {{mensajesError.formulario[0].mensaje}}.</div>
    </div>
  </div>
  <div [ngStyle]="{'display': desambiguacionLista ? '' : 'none'}">
    <div class="d-flex justify-content-center">
      <h2 class="row-12 mt-2">Acepciones seleccionadas</h2>
    </div>
    <div class="max-height-container">
      <div class="accordion">
        <div *ngIf="acepciones !== null">
          <div *ngFor="let palabra of words; let i = index">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-' + i" aria-expanded="false" [attr.aria-controls]="'panelsStayOpen-' + i">
                  <strong>{{palabra}}</strong> : {{acepciones[i]}}
                </button>
              </h2>
              <div [id]="'panelsStayOpen-' + i" class="accordion-collapse collapse">
                <div class="accordion-body">
                  {{definitions[i]}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

