$primary: #1e500a;
$secondary: #444446;
$danger: #8f1c1c;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';


@import '../node_modules/bootstrap/scss/bootstrap';
