.custom-range-darken::-webkit-slider-runnable-track {
  background-color: #b4b4b4; /* Color oscuro para la barra del deslizador */
}

.custom-range-darken::-moz-range-track {
  background-color: #b4b4b4; /* Color oscuro para la barra del deslizador */
}

.custom-range-darken::-ms-track {
  background-color: #b4b4b4; /* Color oscuro para la barra del deslizador */
}
